<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="assets/js/angular.js"></script>
  <title>Exercice6AngularJS4BIS</title>
</head>

<body>
  <!-- container Bootstrap -->
  <div class="container">
    <!-- header -->
    <header>

    </header>
    <!-- main -->
    <main>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">AngularJS Partie 4 Exercice 6 </h1>
          <p class="lead">Faire une page HTML contenant deux
            paragrahes et deux boutons. Au clic sur le premier uniquement le paragrahe 1 doit être visible. Au clic
            sur le bouton deux, seulement le paragrahe 2 doit aparaître.</p>
        </div>
      </div>
      <div ng-app>
        <div class="row">
          <div class="mb-2 col-12 offset-md-1 col-md-4">
              <button type="button" class="btn btn-secondary shadow btn-lg" ng-click="mytext1=true ; mytext2=false">Montre
                le première paragraphe</button>
          </div>
          <div class="mb-2 col-12 offset-md-1 col-md-4">
              <button type="button" class="btn btn-secondary shadow btn-lg" ng-click="mytext1=false ; mytext2=true">Montre
                le deuxième paragraphe</button>
          </div>
        </div>

        <div class="row">
          <div class="mb-2 col-12 offset-md-1 col-md-4 bg-primary text-justify test">
            <div ng-show="mytext1" ng-init="mytext1=true">
              <p><strong>Paragraphe 1 </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                temporibus, illum quisquam quam error nihil
                enim ab, molestias amet dolorum mollitia saepe facilis ducimus possimus maxime. Animi labore consequatur
                placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quas quos odit, velit
                adipisci
                nesciunt quasi dicta, ea non mollitia eius architecto iusto delectus, corporis consequatur magni rem
                numquam
                nobis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, illum. Asperiores natus
                deserunt
                enim autem provident placeat quae. Quis officiis corrupti at perspiciatis eveniet expedita, obcaecati
                numquam
                nostrum neque quisquam.</p>
            </div>
          </div>
          <div class="mb-2 col-12 offset-md-1 col-md-4 bg-danger text-justify test">
            <div ng-show="mytext2" ng-init="mytext2=true">
              <p><strong>Paragraphe 2 </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                temporibus, illum quisquam quam error nihil
                enim ab, molestias amet dolorum mollitia saepe facilis ducimus possimus maxime. Animi labore consequatur
                placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quas quos odit, velit
                adipisci
                nesciunt quasi dicta, ea non mollitia eius architecto iusto delectus, corporis consequatur magni rem
                numquam
                nobis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, illum. Asperiores natus
                deserunt
                enim autem provident placeat quae. Quis officiis corrupti at perspiciatis eveniet expedita, obcaecati
                numquam
                nostrum neque quisquam.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- footer -->
    <footer>

    </footer>
  </div>
  <!-- scripts JQuery, Popper, Angular et Bootstrap-->
  <script src="assets/js/jquery-3.4.0.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <!-- mon script principal -->
  <!-- <script src="assets/js/main.js"></script> -->
  <!-- <script src="assets/js/script.js"></script> -->
</body>

</html>